.navBarBox {
    width: 50%;
    height: 80%;
    margin-right: 20rem;
    margin-top: 1.3rem;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
}

a {
    border: 1px solid #586f7c;
    border-radius: 5px;
    padding: .5rem;
    text-decoration: none;
    color: #b8dbd9
}

a:hover{
    background-color: #586f7c;
    transition: 0.3s;
}