.infoCardBox{
    width: 95%;
    padding: .5rem;
    margin-top: 2rem;
    border: 1px solid #586f7c;
    border-radius: 9px;
    display: flex;
}

.infoCardBox img{
    width: 20rem;
    border-radius: 9px;
}

.infoCardBox p{
    padding: 1rem;
    border: 1px solid #586f7c;
    border-radius: 9px;
    margin-left: 1rem;
    display: flex;
    align-items: center;
    color: #b8dbd9;
    font-size: 1.3rem;
}