.appointmentBox {
  border: 1px solid #586f7c;

  border-radius: 5px;
  width: 50%;
  margin: auto;
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  box-shadow: 0 0 30px #717a97;
}

.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.appointmentBox label {
  font-size: 2rem;
  color: #b8dbd9;
  margin: 1rem;
}

.appointmentInputs {
  font-size: 1.5rem;
  width: 50%;
  background-color: #586f7c;
  border-radius: 5px;
  color: #b8dbd9;
}

.errorMessage {
  font-size: 1.2rem;
  color: red;
  margin-bottom: 1rem;
  text-shadow: 0 0 2px rgba(255, 255, 255, 0.7);
}

.appointmentBox button {
  font-size: 1.3rem;
  background: transparent;
  border: none;
  cursor: pointer;
  color: #b8dbd9;
  border: 1px solid #586f7c;
  padding: 0.4rem;
  border-radius: 5px;
  margin-top: 1rem;
}

.appointmentBox button:hover {
  background-color: #586f7c;
  transition: 0.3s;
}
