.aboutBox{
    margin: auto;
    margin-top: 4rem;
    width: 80%;
    text-align: center;
}

.aboutBox h2 {
    color: #b8dbd9;
    font-size: 2rem;
    border: 1px solid #586f7c;
    width: 30%;
    margin: auto;
    border-radius: 5px;
}

.aboutBox p{
    color: #b8dbd9;
    border: 1px solid #586f7c;
    font-size: 1.5rem;
    padding: 1rem;
    border-radius: 5px;
}