.loginBox {
    border: 1px solid #586f7c;
    border-radius: 5px;
    width: 50%;
    margin: auto;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    box-shadow: 0 0 30px #717a97;
}

.loginForm {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.loginForm label {
    font-size: 2rem;
    color: #b8dbd9;
    margin-bottom: 1rem;
}

.loginImput {
    font-size: 1.5rem;
    width: 70%;
    margin-bottom: 1rem;
    background-color: #586f7c;
    border-radius: 5px;
    color: #b8dbd9;
}

.loginImput::placeholder {
    color: #b8dbd9;
}

.loginForm button {
    font-size: 1.3rem;
    background: transparent;
    border: none;
    cursor: pointer;
    color: #b8dbd9;
    border: 1px solid #586f7c;
    padding: .4rem;
    border-radius: 5px;
    margin-bottom: 1rem;
}

.loginForm button:hover {
    background-color: #586f7c;
    transition: .3s;
}

.register {
    font-size: 1.3rem;
    width: 7.5rem;
    text-align: center;
}

.errorMessage {
    font-size: 1.2rem;
    color: red;
    margin-bottom: 1rem;
    text-shadow: 0 0 2px rgba(255, 255, 255, 0.7);
}