.registerBox {
    border: 1px solid #586f7c;
    border-radius: 5px;
    width: 50%;
    margin: auto;
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    box-shadow: 0 0 30px #717a97;
}

.registerBox label {
    font-size: 1.5rem;
    margin: 1rem 0;
    color: #b8dbd9;
}

.registerInputs {
    font-size: 1.3rem;
    width: 80%;
    border-radius: 5px;
    background-color: #586f7c;
    color: #b8dbd9;
}

.registerInputs::placeholder {
    color: #b8dbd9;
}

.errorMessage {
    font-size: 1.2rem;
    color: red;
    margin-bottom: 1rem;
    text-shadow: 0 0 2px rgba(255, 255, 255, 0.7);
}

.registerBox button {
    font-size: 1.3rem;
    background: transparent;
    border: none;
    cursor: pointer;
    color: #b8dbd9;
    border: 1px solid #586f7c;
    padding: .4rem;
    border-radius: .2rem;
    margin-top: 1rem;
    width: 20%;
}

.registerBox button:hover {
    background-color: #586f7c;
    transition: .3s;
}